
.text-six {color: #337ab7;}
.text-seven {color: #add;}
.text-eight {color: #ad3;}
.text-nine {color: #2196F3;}
.text-ten {color: #ffeb3b;}
.text-eleven {color: #55acee;}
.text-twelve {color: #cc2127;}
.text-thirteen {color: #CDDC39 }
.text-fourteen {color: #546E7A}
.text-fifteen {color: #795548}
.text-dark-blue {color: #0000d6}
.text-middle-blue {color: #5300e8}
.text-light-blue {color: #9965f4}

.text-info {stroke: #00bcd4}
.text-danger {stroke: #f44336}
.text-warning {stroke: #ff9800}
.text-primary {stroke: #9c27b0}
.text-success {stroke: #4caf50}
.text-six {stroke: #337ab7}
.text-seven {stroke: #add}
.text-eight {stroke: #ad3}
.text-nine {stroke: #2196F3}
.text-ten {stroke: #ffeb3b}
.text-eleven {stroke: #55acee}
.text-twelve {stroke: #cc2127}
.text-thirteen {stroke: #CDDC39 }
.text-fourteen {stroke: #546E7A}
.text-fifteen {stroke: #795548}
.text-dark-blue {stroke: #0000d6}
.text-middle-blue {stroke: #5300e8}
.text-light-blue {stroke: #9965f4}
