.rsvp {
    padding-top: 12px;
    padding-left: 23px !important;
}
.clickable {
    cursor: pointer;
}
.timeLabels{
    margin-top: 12px;
}
.font-1-5em {
    font-size: 1.5em;
}
.mtn-5{
    margin-top: -5px !important;
}

.table td,.table th {
    padding: 12px 8px;
    vertical-align: middle;
}
.card .table tr:first-child td {
    border-top: none;
}