<div class="wrapper wrapper-full-page">
    <div class="page-header forgot-password-page header-filter" filter-color="black" style="background-image: url('../../../assets/img/login.jpeg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container" *ngIf="loaded">
            <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                    <app-maintenance [isUnderMaintenance]="isUnderMaintenance" [msg]="underMaintenanceMsg"></app-maintenance>

                    <div class="card">
                        <div class="card-header card-header-icon card-header-primary">
                            <div class="card-icon">
                                <i class="material-icons">mail_outline</i>
                            </div>
                            <h4 class="card-title">Forgot Password</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="fgrtPwdForm" novalidate (ngSubmit)="onSubmit()">
                                <mat-form-field>
                                    <input matInput placeholder="Email Address:" type="email" formControlName="email" required>
                                    <mat-error [hidden]="fgrtPwdForm.controls.email.valid || fgrtPwdForm.controls.email.pristine">
                                        Email format should be
                                        <i>john@doe.com</i>.
                                    </mat-error>
                                </mat-form-field>
                                <div class="category form-category">Enter your email and we'll send you an email with instructions to reset your password.</div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-fill btn-wd" [disabled]="!fgrtPwdForm.valid">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-cmp></app-footer-cmp>
</div>