.container-icon-ul {
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
    text-align: right;
}

.icon-ul {
    list-style: none;
    width: auto;
    display: inline-block;
}

.icon-ul li {
    margin: 0;
    padding: 0 12px;
    list-style: none;
    width: auto;
    display: inline-block;
}

.icon-ul li a {
    color: black;
}

.icon-ul li a:hover {
    color: black;
}

.icon-ul li a i {
    font-size: 21px;
    color: #787878;
}

.icon-ul li a i:hover {
    font-size: 21px;
    color: #505050;
}

.icon-ul li a:visited i {
    font-size: 21px;
    color: #323232;
}

.icon-ul li:last-child {
    padding-right: 0;
}

.icon-ul li a img {
    width: 24px;
}

.chart-button-group-dropdown {
    right: 0;
    left: inherit !important;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid transparent;
    margin-top: 6px;
    z-index: 10000;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transform-origin: 100% 0 !important;
}

.chart-button-group-dropdown .dropdown-item {
    color: rgba(0, 0, 0, .87);
    font-size: 15px;
    line-height: normal;
    width: 100%;
    font-weight: 300;
    padding: 12px 15px 12px 30px;
    margin: 0;
    box-shadow: none;
    float: left;
    cursor: pointer;
}

.chart-button-group-dropdown .dropdown-item:hover {
    box-shadow: none;
    color: #000000 !important;
}

.border-li {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 2px;
    margin-top: 2px;
    width: 100%;
    float: left;
}

.check-icon {
    position: relative;
}

.check-icon i {
    position: absolute;
    left: 8px;
    font-size: 16px !important;
    &.material-icons:not([class*="chart-type-menu-icon"]) {
        color: #000000 !important;
        font-weight: bold;
    }
}
