<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3 class="text-center">Welcome to the Application Module</h3>
                <p class="mt-3">The {{brand.name}} Application is an add-on module that will allow you to accept online applications for your school. Keep track of applications, their respective status and relevant follow up items.</p>
                <ul>
                    <li>Process applications online fast</li>
                    <li>Customize our instant webforms to suit your needs</li>
                    <li>Review all applications online</li>
                    <li>Real-time Analytics so you can get the full picture</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary btn-lg" href="mailto:{{brand.contactEmail}}?subject={{brand.name}} Applications Module&body=Hi,%0D%0A%0D%0AI am interested in learning more about the Apps module in {{brand.name}}. Could you please contact me to discuss?">
                    CONTACT US TO UNLOCK
                </a>
            </div>
        </div>
    </div>
</div>