$select-label-padding-y:            3px !default;
$select-label-padding-x:            20px !default;
$select-label-border-width:         1px !default;
$select-label-border-radius:        20px !default;
$select-label-font-size:            13px !default;
