<div class="card">
    <div class="card-header card-header-icon card-header-primary">
        <div class="card-icon">
            <i class="material-icons-outlined">table_chart</i>
        </div>
        <h4 class="card-title">Completed & Upcoming Tours</h4>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%" *ngIf="personalTours">
                <thead>
                    <tr>
                        <th>Event Type</th>
                        <th>Status</th>
                        <th>Students</th>
                        <th>Interest</th>
                        <th>Applicant</th>
                        <th>{{'Enroled' | translate}}</th>
                        <th>Families</th>
                        <th>Total RSVP</th>
                        <th>Check-ins</th>
                        <th>% Check-ins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of personalTours">
                        <td>Personal Tours</td>
                        <td>{{item.status}}</td>
                        <td>{{item.students || '-'}}</td>
                        <td>{{item.interest || '-'}}</td>
                        <td>{{item.applicant || '-'}}</td>
                        <td>{{item.enroled || '-'}}</td>
                        <td>{{item.families || '-'}}</td>
                        <td>{{item.attending || '-'}}</td>
                        <td>{{item.checkIns || '-'}}</td>
                        <td>{{isFinite(item.percentageCheckIns) ?  item.percentageCheckIns + '%' : '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>