.card-gray {
    background: #eeeeee;
}
.notification{
    position: absolute;
    bottom: 22px;
    border: 1px solid #FFF;
    font-size: 9px;
    background: #4caf50;
    color: #FFFFFF;
    min-width: 20px;
    padding: 0px 5px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 19px;
    vertical-align: middle;
    display: block;
    font-weight: bold;
}

.sticky-button-bar {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-shadow: 4px 6px 5px 2px rgba(167,167,167,0.5);
    box-shadow: 4px 6px 5px 2px rgba(167,167,167,0.5);
    margin-bottom: 24px;
}