<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card mt-3">
                    <div class="card-body text-center">
                        <h2 class="card-title">Thank you</h2>
                        <p>
                            Congratulations, your application for <strong>{{studentName}}</strong> has successfully been submitted.<br>
                            For reference your application ID is <strong>{{appId}}</strong>
                        </p>
                        <p>
                            A confirmation email with this information has also been sent to you.<br>
                            We look forward to talking to you soon.
                        </p>
                        <button class="btn btn-primary" mat-button (click)="viewApplication()">View Submitted Application</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>