.selected-legend {
  opacity: 0.4;
}

.padding-right-2 {
  padding-right: 2px;
}

.padding-top-2 {
  padding-top: 2px;
}

.text-info {
  color: #00bcd4 !important;
}

.text-danger {
  color: #f44336 !important;
}

.text-warning {
  color: #ff9800 !important;
}

.text-primary {
  color: #9c27b0 !important;
}

.text-success {
  color: #4caf50 !important;
}

.text-six {
  color: #337ab7;
}

.text-seven {
  color: #add;
}

.text-eight {
  color: #ad3;
}

.text-nine {
  color: #2196f3;
}

.text-ten {
  color: #ffeb3b;
}

.text-eleven {
  color: #55acee;
}

.text-twelve {
  color: #cc2127;
}

.text-thirteen {
  color: #cddc39;
}

.text-fourteen {
  color: #546e7a;
}

.text-fifteen {
  color: #795548;
}

.text-dark-blue {
  color: #0000d6;
}

.text-middle-blue {
  color: #5300e8;
}

.text-light-blue {
  color: #9965f4;
}
