<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
        style="background-image: url('../../../assets/img/login.jpeg'); background-size: cover; background-position: top center;">
        <div class="container vh-100">
            <a class="navbar-brand mt-3" [routerLink]="['/dashboard']">
                <div class="logo-container">
                    <div class="logo">
                        <img src="../../../assets/img/Logo.png" width="150px" alt="{{brand.name}}">
                    </div>
                </div>
            </a>
            <div class="row mt-5">
                <div class="col-md-6 col-sm-8 offset-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Maintenance Mode</h3>
                            <p>Please try again later. Thank you for your patience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
