<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-icon card-header-primary" data-background-color="purple">
            <div class="card-icon">
                <i class="material-icons-outlined">mail</i>
            </div>
            <h4 class="card-title">{{ webformName }} Emails</h4>
        </div>

        <div class="card-body">
            <div class="toolbar">
                <h4>
                    Once activated, the following emails will be sent after a user submits the {{ webformName }}
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-no-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                <mat-checkbox [checked]="isAllSelected()" (change)="selectAll($event.checked)">
                                </mat-checkbox>
                            </th>
                            <th>{{ 'Subject' }}</th>
                            <th>{{ 'When' }}</th>
                            <th>{{ 'Activated' }}</th>
                            <th class="text-right pr-3">{{ 'Actions' }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of emailTemplates">
                            <td class="w25">
                                <mat-checkbox [disabled]="item.isImmediate" (change)="select(item.id, $event.checked)" [(ngModel)]="item.check">
                                </mat-checkbox>
                            </td>
                            <td class="w-25">{{item.subject}}</td>
                            <td class="w-25">{{item.sentString}}</td>
                            <td>
                                <mat-checkbox [checked]="item.activated" (change)="activate($event.checked, item)">
                                </mat-checkbox>
                            </td>
                            <td class="td-actions text-right">
                                <button mat-raised-button type="button" class="btn btn-primary btn-link"
                                    matTooltip="Send a Test Email" matTooltipPosition="left"
                                    (click)="showSendTestEmail(item)">
                                    <i class="material-icons">mail_outline</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-success btn-link"
                                    matTooltip="Edit" matTooltipPosition="left" (click)="edit(item)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button *ngIf="!item.isImmediate" mat-raised-button type="button"
                                    class="btn btn-danger btn-link" matTooltip="Delete" matTooltipPosition="left"
                                    (click)="remove(item.id)">
                                    <i class="material-icons">delete_outline</i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button type="button" class="btn btn-primary pull-right" (click)="addItem()">
                        <i class="material-icons">playlist_add</i> Add New
                    </button>
                    <button *ngIf="deleteIds.length > 0" type="button" class="btn btn-delete pull-right"
                        (click)="removeAll()">Delete Selected Item(s)</button>
                </div>
            </div>
        </div>
    </div>
</div>