$table-header-bg:            $dusk-blue !default;
$table-header-font-weight:   $font-weight-bold !default;

$table-stats-gap:            4px !default;
$table-even-row-bg:          $duck-egg-blue-lighter !default;
$table-row-hover-bg:         $duck-egg-blue !default;
