<div class="wrapper wrapper-full-page">
    <div class="page-header unsubscribe-notifications-page header-filter" filter-color="black" style="background-image: url('../assets/img/login.jpeg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                    <div class="card">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-cmp></app-footer-cmp>
</div>
