
<form [formGroup]="addOtherForm" class="m-0" *ngIf="addOtherForm">
    <div mat-dialog-content>
        <div class="row">
            <div class="col">
                <h4>
                    <button type="button" class="close float-right" (click)="onCancel()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Add New {{ title }}
                </h4>
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                <mat-form-field>
                    <input matInput placeholder="Name" type="text" formControlName="name" cdkFocusInitial required>
                    <mat-error [hidden]="addOtherForm.controls.name.valid || addOtherForm.controls.name.pristine">
                        Name should contain at least {{requiredTextFieldMinLength}} and at most {{requiredTextFieldMaxLength}} characters.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <button type="button" mat-raised-button class="btn btn-cancel mx-1" (click)="onCancel()">Cancel</button>
                <button type="submit" mat-raised-button class="btn btn-success" (click)="onSubmit()" [promiseBtn]="promiseForBtn" [disabled]="!addOtherForm.valid || addOtherForm.pristine">save</button>
            </div>
        </div>
    </div>
</form>