.map{
    height: 650px;
    border-radius: 6px;
    margin-top: 0;
}

.text-six {
    color: #337ab7;
}

.text-seven {
    color: #add;
}

.text-eight {
    color: #ad3;
}

.text-nine {
    color: #2196F3;
}

.text-ten {
    color: #ffeb3b;
}

.text-eleven {
    color: #55acee;
}

.text-twelve {
    color: #cc2127;
}

.legend-chart {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: inline;
    vertical-align: super;
}

.pointer { cursor: pointer; }

.d-inherit {
    display: inherit;
}