<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon card-header-primary">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Edit Application Form</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit(formTemplate)"
                            *ngIf="formTemplate$ | async as formTemplate; else loading">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Form Name" type="text" formControlName="name"
                                            [(ngModel)]="formTemplate.name">
                                        <mat-error
                                            [hidden]="formGroup.controls.name.valid || formGroup.controls.name.pristine">
                                            This field should contain at least {{formNameMinLength}} and at most
                                            {{formNameMaxLength}} characters.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <p>The following is a preview of the form. Click on the fields to edit them.</p>
                            <div class="my-4 d-flex flex-row-reverse">
                                <button type="button" class="btn btn-secondary" (click)="drawer.toggle()">
                                    <i class="material-icons">menu</i>
                                    Field Visibility</button>
                                <mat-slide-toggle *ngIf="isSysAdmin" class="mx-4 mt-2"
                                    matTooltip="Turn on to show schema in field editor" [checked]="isDebugMode"
                                    (change)="isDebugMode=$event.checked">Debug Mode
                                </mat-slide-toggle>
                            </div>
                            <mat-drawer-container [(autosize)]="shouldAutosizeDrawer">
                                <mat-drawer #drawer [mode]="drawerMode$ | async" position="end">
                                    <sf-field-list [formTemplate]="formTemplate"
                                        (fieldVisibilityChange)="changeFieldVisibility($event)"
                                        (addCustomField)="upsertCustomField($event)"
                                        (deleteCustomField)="deleteCustomField($event)"
                                        (expansionChange)="resizeDrawer()"></sf-field-list>
                                </mat-drawer>
                                <mat-drawer-content>
                                    <sf-form *ngIf="formSchema$ | async as formSchema" [schema]="formSchema"
                                        [bindings]="fieldBindings" [model]="sampleModel">
                                    </sf-form>
                                </mat-drawer-content>
                            </mat-drawer-container>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="btn btn-cancel mx-1" mat-raised-button type="button"
                                        [disabled]="!!promiseForBtn" (click)="onCancel()">Cancel
                                    </button>
                                    <button class="btn btn-success" mat-raised-button type="submit"
                                        [promiseBtn]="promiseForBtn" [disabled]="!formGroup.valid || !!promiseForBtn">Save
                                    </button>
                                    <button class="btn btn-success" mat-raised-button type="button"
                                        [promiseBtn]="promiseForBtn" [disabled]="!!promiseForBtn"
                                        (click)="onPublish(formTemplate)">Publish
                                    </button>
                                </div>
                            </div>
                        </form>
                        <ng-template #loading>
                            <mat-spinner class="mx-auto" [diameter]="45"></mat-spinner>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>