.text-six {
    color: #337ab7;
}

.text-seven {
    color: #add;
}

.text-eight {
    color: #ad3;
}

.text-nine {
    color: #2196F3;
}

.text-ten {
    color: #ffeb3b;
}

.text-eleven {
    color: #55acee;
}

.text-twelve {
    color: #cc2127;
}
