<div class="wrapper wrapper-full-page">
    <!-- <div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg"> -->
    <div class="page-header google-login-page header-filter" filter-color="black" style="background-image: url('../../../assets/img/login.jpeg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                    <div class="card text-center">
                        <h6 class="card-header">Social Login</h6>
                        <div class="card-block" style="height: 150px">
                            <div class="loader">
                                <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-cmp></app-footer-cmp>
</div>