$table-header-color:                $white !default;
$table-header-bg:                   $gray !default;
$table-header-font-size:            1em !default;
$table-header-font-weight:          $font-weight-light !default;

$table-stats-gap:                   8px !default;
$table-even-row-bg:                 $concrete !default;
$table-row-hover-bg:                $gallery !default;
