.no-data{
    position: absolute;
    right: 45%;
    top: 40%;
}

.total-pie{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}
.ct-chart-donut .ct-fill-donut .ct-slice-donut{
    stroke: white;
    opacity: 1;
}
.text-info {stroke: #00bcd4}
.text-danger {stroke: #f44336}
.text-warning {stroke: #ff9800}
.text-primary {stroke: #9c27b0}
.text-success {stroke: #4caf50}
.text-six {stroke: #337ab7}
.text-seven {stroke: #add}
.text-eight {stroke: #ad3}
.text-nine {stroke: #2196F3}
.text-ten {stroke: #ffeb3b}
.text-eleven {stroke: #55acee}
.text-twelve {stroke: #cc2127}
.text-thirteen {stroke: #CDDC39 }
.text-fourteen {stroke: #546E7A}
.text-fifteen {stroke: #795548}

.ct-chart {
    text-align: center;
}
.ct-chart svg {
    position: relative;
    z-index: 2;
}
.ct-chart .ct-fill-donut-label {
    z-index: 2;
}
.ct-chart .ct-fill-donut-bg-wrap {
    top: 0 !important;
    left: 50% !important;
}
.ct-chart .ct-fill-donut-bg-wrap .ct-fill-donut-bg {
    position: absolute;
    content: '';
    background: #fff;
    border-radius: 50%;
    height: 100%;
    left: 50% !important;
}