<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a target="_blank" href="{{brand.privacyPolicyUrl}}">Privacy Policy</a>
                        </li>
                        <li>
                            <a target="_blank" href="{{brand.termsOfUseUrl}}">Terms of Use</a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    {{brand.footerText}}
                </p>
            </div>
        </div>
    </div>
</footer>