<div class="row">
    <div class="col">
        <h4 class="mt-1">{{brand.name}} Modules</h4>
        <hr class="my-2">

        <div class="row" *ngFor="let module of modules">
            <div class="col">
                <div class="togglebutton">
                    <label class="w-100 text-dark">
                        {{module.title}}
                        <input type="checkbox" [checked]="module.isEnabled" (change)="widgetChanged(module.name, $event.target.checked)">
                        <span class="toggle float-right"></span>
                    </label>
                </div>
                <a *ngIf="module.name === 'commsModule'" class="btn btn-secondary" target="_blank"
                    href="https://us18.admin.mailchimp.com/account/domains/">Verify A Domain
                </a>
            </div>
        </div>
    </div>
</div>