<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-icon card-header-primary">
                <div class="card-icon">
                    <i class="material-icons-outlined">email</i>
                </div>
                <h4 class="card-title">Draft Messages</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-primary" (click)="onCreate()"><i class="material-icons">playlist_add</i> CREATE MESSAGE</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="commService.school">
                    <table mat-table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
                            <td mat-cell *matCellDef="let element">{{element.updatedAt | localDate: ((element.campus) ? element.campus.timeZoneId : commService.mainCampus.timeZoneId) : dateDelimiterTimeShort}}</td>
                        </ng-container>

                        <ng-container matColumnDef="subject">
                            <th class="w-25" mat-header-cell *matHeaderCellDef mat-sort-header>Subject</th>
                            <td mat-cell *matCellDef="let element" class="l-cs" (click)="edit(element.id)"> {{element.subject}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="activity">
                            <th class="w-25" mat-header-cell *matHeaderCellDef mat-sort-header>Activity</th>
                            <td mat-cell *matCellDef="let element"> {{element.activity}} </td>
                        </ng-container>

                        <ng-container matColumnDef="audience">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Audience</th>
                            <td mat-cell *matCellDef="let element"> {{element.audience}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="campus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus</th>
                            <td mat-cell *matCellDef="let element"> {{element.campusId ? element.campus.name : 'All Campuses'}} </td>
                        </ng-container>
                    
                        <ng-container matColumnDef="actions">
                            <th class="text-right" mat-header-cell *matHeaderCellDef>Actions</th>
                            <td class="text-right td-actions" mat-cell *matCellDef="let row">
                                <button mat-raised-button type="button" class="btn btn-primary btn-link" (click)="showTestEmailModal.emit(row)" matTooltip="Send a test" matTooltipPosition="left">
                                    <i class="material-icons">mail_outline</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-light btn-link" matTooltip="Select Audience and Schedule" matTooltipPosition="left" (click)="schedule(row.id)">
                                    <i class="material-icons">access_time</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-success btn-link" matTooltip="Edit" matTooltipPosition="left" (click)="edit(row.id)">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-light btn-link" matTooltip="Duplicate Message" matTooltipPosition="left" (click)="copy(row)">
                                    <i class="material-icons">file_copy</i>
                                </button>
                                <button mat-raised-button type="button" class="btn btn-danger btn-link" matTooltip="Delete" matTooltipPosition="left" (click)="remove(row)">
                                    <i class="material-icons">delete_outline</i>
                                </button>
                            </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>