<div class="wrapper wrapper-full-page">
    <div class="page-header change-password-page header-filter" filter-color="black" style="background-image: url('../assets/img/register.jpeg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-8 mx-auto">
                    <div class="card">
                        <div class="card-header card-header-icon card-header-primary">
                            <div class="card-icon">
                                <i class="material-icons">vpn_key</i>
                            </div>
                            <h4 class="card-title">Reset Password</h4>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="chngPwdForm" novalidate (ngSubmit)="onSubmit()">
                                <mat-form-field>
                                    <input matInput placeholder="Email Address" type="email" formControlName="email" required readonly>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Password" type="password" formControlName="password" validateEqual="confirmPassword" reverse="true"
                                        required>
                                    <mat-error [hidden]="chngPwdForm.controls.password.valid || (chngPwdForm.controls.password.pristine)">
                                        {{passwordErrorText}}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" validateEqual="password"
                                        reverse="false" required>
                                    <mat-error [hidden]="chngPwdForm.controls.confirmPassword.valid || (chngPwdForm.controls.confirmPassword.pristine)">
                                        Password mismatch
                                    </mat-error>
                                </mat-form-field>
                                <div class="category form-category">
                                    <span class="text-danger">*</span> Required fields</div>
                                <div class="form-footer text-right">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-fill btn-wd" [disabled]="!chngPwdForm.valid">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer-cmp></app-footer-cmp>
</div>